body{
    background-image: url('123.jpg');
    background-size: cover;
    color: #186f89;
    font: 20px/25px 'arial';
    
    background-size: 100% auto;
}

h1{
    color: #FFF;
}

#divformulario {
    background: rgba(255,255,255, 0.6);
    border:1px solid white; 
    width: 29%;
    padding: 15px;
    margin-left: 5%;
    float: left;
}

a{
    color:#FFF;
    background: pink;
}

#linkVoltar{
    margin: 500px;
}

#divfilmografia{
    background: rgba(255,255,255, 0.6);
    width: 50%;
    padding: 10px;
    height: 415px;
    margin-right: 5%;
    margin-left: 3%;
    float: right;
    border: 1px solid white; 
    overflow: scroll; 
}

#sucesso{
    width: 90%;
    margin: 5%;
}

#coelho{
    width: 25%;
    margin-left: 40%;
}

#kiss{
    width: 12.5%;
}

#botao{
    padding: 10px;
    margin-left: 63%;
}




