body{
    background-image: url('45.jpg');
    color: #56bedd;
    font: 20px/25px 'arial';
    
    background-size: 100% auto;
} 

h3{
    color: #528ab7;
}

#divformulario {
    border:1px solid white; 
    width: 29%;
    padding: 15px;
    margin-left: 5%;
    float: left;
}

a{
    color:#FFF;
    background: pink;
}

#linkVoltar{
    margin: 500px;
}

#divfilmografia{
    width: 50%;
    padding: 10px;
    height: 415px;
    margin-right: 5%;
    margin-left: 3%;
    float: right;
    border: 1px solid white; 
    overflow: scroll; 
}

#sucesso{
    width: 90%;
    margin: 5%;
}

#coelho{
    width: 25%;
    margin-left: 40%;
}

#kiss{
    width: 12.5%;
}

#botao{
    margin-left: 60%;
}